body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(360deg, #4fb9af , #063834);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.navbar {
    background-color: rgb(255, 255, 255);
    width: 95%;
    margin: 0 auto;
    height: 60px;
    display: flex;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #a6f7ef;
    overflow: hidden;
    z-index: 2;
    max-width: 2000px;
}
@media (min-width: 900px) {
    .navbar { width: 95%; }
}
.navbar a {
    background-color:rgb(255, 255, 255);
    float: left;
    font-size: 16px;
    color: #000000;;
    text-align: center;
    padding: 22px 50px;
    text-decoration: none;
    z-index: 2;
}
.container {
    width: 100%;
    text-align: center;
    z-index: 2;
}
.navbar a:hover {
    background-color: #4fb9af;
    opacity: 0.7;
    color: white;
}
h1{
    font-weight: normal;
    font-size: 35px;
    position: relative;
    margin: 40 0;
    color: #FFFFFF;
}
p{
    padding: 35px 300px;
    font-weight: normal;
    position: relative;
    margin: 40px 0;
    color: #FFFFFF;
}
h1::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 4s linear infinite   ;
}
@keyframes animate{
    0%{
        width: 100px;
    }
    50%{
        width: 200px;
    }
    100%{
        width: 100px;
    }
}  
/* HOME CONTENT */
.homeBackground{
    background-image: url(../src/bookstore1.jpg);
    opacity: .9;
    filter: brightness(75%);
    filter: contrast(90%);
    filter: drop-shadow(8px 8px 8px #4fb9af);
}
.homeBackground h1{
    color: white;
}
.footer {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    margin-right: 2000px;
    flex-direction: column;
    gap: 10px;
}
.footerContent{
    display: flex;
    padding-left: 27px;
}
.footerContent h3{
    text-align: left;
    font-weight:lighter;
}
.homebtn{
    display: flex;
    padding-bottom: 100px;
    padding-top: 20px;
    width: 200px;
    text-align: center;
}
.homebtn a{
    border: 2px solid #ffffff;
    z-index: 2;
    text-decoration: none;
    color: white;
    font-weight: lighter;
    padding: 10px;
    opacity: 2;
    margin-bottom: 20px;
    margin-left: 25px;
    border-radius: 13px;
}

/*home content modal box*/
#register{
    margin: 100px auto;
    padding: 15px;
    background: black;
    border-radius: 5px;
    width: 25%;
    height: 50%;
    position: relative;
    transition: all 5s ease-in-out;
    z-index: 3;
    opacity: 0.8;
}
#register{
    background-color: #ffffff;
    display: flex;
}
#regModal{
    padding: 40px 60px;
    background-color:#ffffff;
    flex-basis: 100%;
}

#loginInput{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
#loginInputGroup{
    font-size: 20px;
}
#loginInputGroup input{
    font-size: 17px;
    background-color: #FFFFFF;
}
#regModal button{
    background: white;
    width: 100px;
    border: none;
    outline: none;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
    display: block;
    margin-inline: auto;
}

/* Contact Page */
.aboutMeLeft{
    display: flex;
    flex-wrap: wrap;
}
.aboutMeDetails{
    flex-grow: 1;
    display: flex;
}
.aboutMeDetails h2{
    margin-top: 0px;
    padding-left: 10px;
}
.aboutMeDetails p{
    color: black;
    font-weight: 550;
    font-size: larger;
    margin: 0 0;
    padding-top: 0;
    padding-right: 0;
    padding-left: 5px;
}
.aboutMePhoto{
    flex-grow: 1;
}
.aboutMeName{
    flex-grow: 1;
}
.aboutMeIntro{
    flex-grow: 1;
}

.educationalBackground{
    flex-basis: 100%;
}
.educationalBackground p{
    color:#000000;
    font-weight: 550;
    margin-top: -5px;
    margin-bottom: 0px;
    padding-top: 0;
    padding-bottom: 15px;
    padding-right: 0;
    padding-left: 5px;
}

#myPic{
    height: 300px;
}
.ContactMe{
    width: 80%;
    margin: 50px auto;
    color: white;
}
.contactBox{
    background: #D3D3D3;
    display: flex;
}
.contactLeft{
    flex-basis: 90%;
    padding: 40px 60px;
    color: black;
}

.contactRight{
    flex: 30%;
    padding: 40px;
    background-color: white;
    color: black;
}
.contactHeader{
    margin-bottom: 10px;
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px
}
.input-row .input-group{
    flex-basis: 45%;
}
.input-row input{
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    padding-bottom: 5px;
    background-color: #D3D3D3;
}
.contactLeft textarea{
    width: 100%;
    border: 1px solid black;
    outline: none;
    padding: 10px;
    background-color: white;
    box-sizing: border-box;
}

.contactBox label{
    margin-bottom: 6px;
    display: block;
    color: black;
}
.contactBox button{
    background: white;
    width: 100px;
    border: none;
    outline: none;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
}
.contactLeft h3{
    font-weight: 600;
    margin-bottom: 30px;
}
.contactRight h3{
    font-weight: 600;
    margin-bottom: 30px;
}
.contactRight img{
    width: 50px;
}
.contactRight a{
    text-decoration: none;
    color: black;
    text-decoration-line: underline;
}
.contactRight tr td:first-child{
    padding-right: 20px;
}
.contactRight tr td{
    padding-top: 20px;
    font-weight: bolder;
}
.updateButton{
    background: white;
    width: 100px;
    border: none;
    outline: none;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
}
.deleteButton {
    background: white;
    border: none;
    cursor: pointer;
    outline: none;
    height: 30px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
}
.deleteAnchor {
    text-decoration: none;
    color: inherit;
}
#contactContainer {
    text-align: center;
}
/* Cart Page */
#cartTable {
    margin: 0 auto;
    border-color: white;
    color: white;
}
#checkoutTable {
    margin: 0 auto;
    border-color: black;
    color: black;
}
.wrapper{
    width: 100%;
    color: rgb(0, 0, 0);
}
.shippingBox{
    display: flex;
}
.shippingForm{
    flex-basis: 100%;
    padding: 40px 10px;
    color: rgb(0, 0, 0);
}

.contactHeader{
    margin-bottom: 10px;
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px
}
.input-row .input-group{
    flex-basis: 45%;
}
.input-row input{
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    padding-bottom: 5px;
    background-color: #D3D3D3;
}
.shippingForm textarea{
    width: 100%;
    border: 1px solid black;
    outline: none;
    padding: 10px;
    background-color: white;
    box-sizing: border-box;
}

.shippingBox label{
    margin-bottom: 6px;
    display: block;
    color: black;
}
.shippingBox button{
    background: white;
    width: 100px;
    border: none;
    outline: none;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
}
.shippingForm h3{
    font-weight: 600;
    margin-bottom: 30px;
}
#checkoutMsg{
    color:white;
}
.allOrders {
    border-collapse: collapse;
    width: 100%;
}

.allOrders th, .allOrders td {

    text-align: left;
    font-weight: normal;
    color: white;
}


/* projects page */

.gallery{
    width: 95%;
    margin: auto;
    display: grid;
    grid-gap: 20px;
}
@media (min-width: 900px) {
    .gallery { grid-template-columns: repeat(1, 1fr); }
}
@media (min-width: 1000px) {
    .gallery { grid-template-columns: repeat(2, 1fr); }
}
@media (min-width: 1600px) {
    .gallery { grid-template-columns: repeat(3, 1fr); }
}
.pic{
    position: relative;
    height: 330px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #D3D3D3;
}
.pic img{
    border-radius: 10px;
    height: 100%;
    transition: .5s;

}
.pic::before{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 22px;
    width: 100%;
    margin-top: -100px;
    opacity: 0;
    transition: .3s;
    transition-delay: .2s;
    z-index: 1;
}
.pic::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 10px;
    background-color: rgba(0,0,0,.4);
    transition: .3s;
}
.pic:hover::after{
    height: 100%;
}
.pic:hover::before{
    margin-top: 0;
    opacity: 1;
}
.button {
    width: 200px;
    translate: center;
    text-align: center;
    border: 2px solid #ffffff;
    border-radius: 20px/50px;
    transition: 0.3s;
    transition-delay: .2s;
    opacity: 0;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    z-index: 2;
}
.button a{
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    z-index: 2;
}
.pic:hover .button {
    opacity: 1;
    background-color: 0;
    z-index: 2;
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 3;
    
}
.overlay:target {
    visibility: visible;
    opacity: 1;
    z-index: 3;
}
.popup {
    margin: 15px auto;
    padding: 15px;
    background: #D3D3D3;
    border-radius: 5px;
    width: 50%;
    height: 94%;
    position: relative;
    transition: all 5s ease-in-out;
    z-index: 3;
    overflow-y: auto;
}
.popup::-webkit-scrollbar {
    display: none;
  }
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: red;
}
.popup .content {
    max-width: 100%;
    overflow: auto;
}
@media screen and (max-width: 1000px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
} 

.popup img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
}
.popup #title {
    font-weight: normal;
    font-size: 30px;
    color: #333;
    text-align: center;
}
.content h2{
    color: black;
    text-align: center;
    margin: auto;
}
.content p{
    padding: 10px;
    color: black;
    font-size: larger;
    text-align: justify;
    margin: auto;
}
/*About Me*/
.aboutMe img{
    width: 250px;
}
.aboutMe p {
    text-align: center;
}
.aboutMe th{
    height: 50px;
}
.aboutMe tr{
    height: 20px;
}
.aboutMe td{
    height: 20px;
}
.aboutMe h2 {
    color: white;
    text-align: center;
}
.aboutMe h3 {
    color: white;
    text-align: center;
}

/*project gallery titles */
#product1::before{
    content:"Methods";
}
#product2::before{
    content:"Character and String Builders";
}
#product3::before{
    content:"Object Oriented Programming";
}
#product4::before{
    content:"Class and Objects";
}
#product5::before{
    content:"Inheritance Part 1: Methods";
}
#product6::before{
    content:"Inheritance Part 2: Constructors";
}
#product7::before{
    content:"Inheritance Part 3: Abstract & Interface";
}
